/*1-Style general*/

*{
  list-style: none;
  text-align: justify;
}

body{
  background: radial-gradient(
     126.67% 350.28% at -21.35% 0%,
     #11213F 0%, 
     #0B0B0B 39.1%, 
     rgba(2, 23, 64,0.837641) 94.57%, 
     rgba(2, 23, 64, 0) 100% 
  );
  color: #F2CEF2;
  width: 99%;
  font-size: 16px;
  
}

a {
color: #F2CEF2;

}


/* 1-a-Animation entrée */

*{
animation: slide-from-left 2s ease-in-out;
}

@keyframes slide-from-left {
from {
  transform: translateX(-50px);
  opacity: 5%;
}
to {
  transform: translateX(0);
}
}

/* 2-Fonts pour les textes */
/* 2-a-Installation des nouveaux fonts */
@font-face {
font-family: 'Titre H1';
src: url('/Fonts/PantheraRegular-MVZ9J.ttf');
}
@font-face {
font-family: 'Titre H2';
src: url('/Fonts/BEYNO.ttf');
}
@font-face {
font-family: 'Titre H3';
src: url('/Fonts/WakandaForever-Regular.ttf');
}
@font-face {
font-family: 'Titre_citation_footer';
src: url('/Fonts/Cantarell-Regular.ttf');
}

/* 2-b-Polices des textes */
h1{
font-family: 'Titre H1';
font-size: 4.2em;
color: #F2CEF2;
}

h2{
font-family: 'Titre H2';
font-size: 2em;
color: #F2CEF2;
}

h3{
font-family: 'Titre_citation_footer';
font-size: 1em;
}

p{
font-family: 'Titre_citation_footer';
font-size: 1em;
text-align: justify;
}

/*3-Style header*/

header {
  display: flex;
  height: 3vw;
  width: 85vw;
  column-gap: 40%;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 35px;
  margin-left: 50px;
  align-items: center;
}

.logo div img {
width: 15px;
margin-left: 3px;
}
.logo .x img {
width: 9px;
margin-left: 3px;
}
.logo .marvel img {
width: 50px;
margin-left: 3px;
}
/*2-a-Style nav*/
nav{
height: 25px;
}
nav ul a{
text-decoration: none;
align-items: first baseline;
}

nav ul a:hover{
text-decoration: underline;
color: #3D2DA6;
}

header nav ul {
  display: flex;
  column-gap: 20px;
}


/*3-Style main*/
#intro{
  height: 100vh;
  display: flex;
  margin-top: 10vh;
}

#intro .fond{
  background-image: url(/images/Enigme/Pantherenigme1.png);
  background-size: cover;
  background-size: 100%;
  background-position: left;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100%;
}

#intro .text {
  height: 100%;
  width: 50vw;
}

#intro .text h2 {
  font-size: 3em;
  padding-top: 10vh;

}

#intro .text p {
  width: 35vw;
  margin-left: 13%;
  margin-top: 30%;

}
#intro .paragraphe img {
  position: absolute;
  width: 50vw;
  margin-top: -10vw;
}


#fidele p {
  font-family: 'Titre H3';
  font-size: 1.5em;
  margin: 5vh 0;
  padding-left: 15vw;
  word-spacing: 2vh;
}

#transcription{
  height: 70vh;
  display: flex;
  padding-left: 5vw;
}

#transcription .gauche {
  width: 50vw;
}


#transcription .gauche span {
  font-family: 'Titre H3';
}

#transcription .question1 {
  padding-top: 15vh;
}

#transcription .paragraphe {
  width: 50vw;
}

#transcription .paragraphe img {
  width: 45vw;
  position: absolute;
  margin-top: 8vh;
}

#transcription .paragraphe p {
  width: 30vw;
  margin-top: 28vh;
  margin-left: 8vw;
  margin-right: 5vw;
}

input {  
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: left;
  width: 40vw;
  border-radius: 38px;
  background: none;
  border: 1 px solid #FFFFFF;

  }

button {  
  margin-left: 10vw;
  margin-top: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: center;
  width: 20vw;
  border-radius: 20px;
  background: #FFFFFF;
  border: none;
  }

  button:hover{
    color:  #021740;
}

/*6-Style footer*/

footer  {  
  height: 692px;
  background: url(/images/All_pages/back_footer.png);
  
  }

  footer .fg {  
    display: grid;
    grid-template-columns: 1fr 2fr;
    } 

    .f1 {  
     height: 35vh;
     width: 35vw;
     margin-top: 20vh;
     margin-left: 5vw;
     justify-content: center;
     text-align: center;
     padding-top: 150px;
     background-image: url(/images/All_pages/footer1.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;  
    } 

    .sociaux {  
      margin-top: 20vh;
      display: flex;
      gap: 6vw;
      padding-left: 5vw;
      height: 300px;
      
     } 

     .final {  
      display: flex;
      gap: 2vw;
      
     } 

     .final img {  
     width: 3vw;
     } 

     .droit {  
     padding-left: 5vw;
      justify-content: center;
     } 

     footer .f1:hover {  
      transform: scale(1.1);
      transition: .4s all ease-in-out;
     } 

     footer .sociaux a {  
      text-decoration: none;

     } 

      footer .sociaux a:hover {  
        text-decoration: underline;
     } 
.droit {  
      display: flex;
      align-items: center;
     } 

.point   {  
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #9E91B7;
  margin: 0 5px;
     } 

